<div class="container">

	<div class="row confirmation">
		<div class="col-xs-12 text-center">
			<h2 style="margin-top: 40px;">Your request has been submitted!</h2>

			<h3 style="margin-bottom: 30px;">We want to be clear that this is not a confirmed reservation.</h3>

			<p>If confirmed, a confirmation will be sent by email to <a href="{{model.email}}">{{model.email}}</a>.</p>

			<p>If you require urgent assistance, please call (416) 393-7131.</p>

			<p>Booking request #{{model.id}}</p>

			<a class="btn btn-primary m-t-3" href="http://www.torontopubliclibrary.ca">Return to Toronto Public Library</a>
		</div>
	</div>
</div>