
<h2>{{tool.name}}</h2>
<p>{{tool.description}}</p>

<div class="container">
  <ul class="timeslots">
    {{#each timeslots as |timeslot|}}
      <button type="button" class="btn btn-default btn-lg">
        {{tool-calendar-timeslot tool=tool timeslot=timeslot}}
      </button>
    {{/each}}
  </ul>
</div>
