<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
	    {{link-to 'Digital Innovation Hub Bookings' 'application' class="navbar-brand" }}
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class=container">
    {{outlet}}
  </div>
</div>
