<div class="container">
<div class="row text-center">
<h1>{{formattedType}} Availability</h1>
</div>
</div>

<div class="container">
<div class="row row-eq-height text-center">
 <p class="col-xs-12">Today is {{moment-format today "dddd[,] MMMM D[,] YYYY"}}</p>
</div>
</div>

<div class="container tool-day-selector">
  <div class="row row-eq-height">
    {{#each dateSelections as |selection|}}
      {{date-selection
        selection=selection
        selectedDate=date
        onClick=(action "setDate" selection)}}
    {{/each}}
	<div class="col-xs-2 text-center well well-lg">Your Birthday?<br /><span style="font-size: 24px;">🎉</span></div>
  </div>
</div>


<div class="container">
<div class="row">
  <ul class="list-unstyled tool-locations">
    {{#each model as |tool|}}
      <li>{{tool-calendar tool=tool date=date}}</li>
    {{/each}}
  </ul>
</div>
</div>
